body {
  color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0%;
  margin: 0%;
}

.container {
  margin: 30px auto;
  max-width: 1000px;
}
